@import url('./xy-theme.css');

html{
    
    color:black;
    font-family:sans;
    justify-content: center;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1, h2, h3{
	font-family: Irma Regular;
}

a{
color: black;}

.context-menu {
  background: white;
  border-style: solid;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
}
 
.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}
 
.context-menu button:hover {
  background: white;
}

header, main, footer{
  background-color: white;
  
  padding: 25px;
  margin:5%;
  width: 600px;
  border-radius: 5px;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}
  
.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  overflow: visible;
}
  
.dndflow aside .description {
  margin-bottom: 10px;
}
  
/* TODO play with radius to turn div into circle */
.dndflow .dndnode {
  height: 150px;
  width: 150px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: grab;
  position: relative;
  overflow: hidden;
}
  
.dndflow .dndnode.input {
  border-color: #0041d0;
}

.popup{
  position: fixed;
  transform: translate(-100%, -50%);
  width: 150px;
  height: 150px;
  background-color: white;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.dndflow .dndnode.input:hover .popup{
  display: block;
}
  
.dndflow .dndnode.output {
  border-color: #ff0072;
}
  
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
  
.dndflow .selectall {
  margin-top: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sandbox-node {
  padding: 4px;
  width: 100px;
  border: 1px solid #1a192b;
  margin-bottom: 10px;
  background: black;
      
  #logo-img{
    padding: 5px;
    background-color: white;
    height: 30px;
    display: inline;   
  }

  h5{
    color: azure;
    margin-top: 11px;
    size: 16px;
    display: inline;
  }

  p{
    color: azure;
    font-size: 7px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrapper {  
  display: flex;
}

.wrapper .col {
  flex-direction: column;
}

.wrapper .row {
  flex-direction: row;
}

.tabcontent{
  height: 95%;
  width: 200px;
  background-color: blue;
  overflow: scroll;
}

  
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
  
  .dndflow aside {
    
    max-width: 250px;
  }
}
